
<html lang="en">
<head >
  <div id="myHead"></div>
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
</head>
<header id="myHeader"></header>

<body>
<div class="kontainer">
  <div class="row ">
    <div class="col-md-1 "></div>
    <div class="col-md-11 id = cz">
      Личный кабинет администратора  <br>
      <a class="btn btn-primary btn-lm" href="admin/product/add">Добавить товар</a>
      <a class="btn btn-primary btn-lm" href="admin/allOrders">Список вех заказов</a>
       <hr>
    </div>
    </div>
    <div class="row row-cols-1 id = bla">
<div th:each="product : ${products}">
  <br>
  <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
  <p th:text="'Описание: ' + ${product.getDescription()}"></p>
  <p th:text="'Цена: ' + ${product.getPrice()}"></p>
  <p th:text="'Склад: ' + ${product.getWarehouse()}"></p>
  <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
  <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
  <a class="btn btn-primary btn-sm" th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактировать товар</a>
  <a class="btn btn-primary btn-sm" th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удалить товар</a>
  <hr>
  <div style="border-bottom: 1mm ridge rgba(213, 210, 217, 0.49);">   </div>
</div>
 </div>
</body>
<!--///////////////////////////////////////////-->
<footer id="myfooter"></footer>
<script th:src="@{/js/index_user.js}" ></script>
</html>

