
<html lang="en">
<head >
    <div id="myHead"></div>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
</head>
<header id="myHeader"></header>

<body>
<div class="container">
    <div class="row" style="height: calc(100% - 300px)">
        <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal" method="post" th:action="@{/process_login}" >
                <span class="heading">АУТЕНТИФИКАЦИЯ</span>
                <div class="form-group">
                    <i class="fa fa-user"></i>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <input class="form-control" type="text" placeholder="Введите ваш логин" name="username" id="username">
                </div>
                <div class="form-group help">
                    <input  class="form-control"   type="password" placeholder="Введите ваш пароль" name="password" id="password">
                    <i class="fa fa-lock"></i>
                    <a href="#" class="fa fa-question-circle"></a>
                </div>
                <div class="form-group">
                    <a href="/authentication/registration">Пройти регистрацию</a>
                    <button type="submit"  value="Войти" class="btn btn-default">Войти</button>
                    <div th:if="${param.error}" style="color: red">
                        Неправильный логни или пароль
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<!--///////////////////////////////////////////-->
<footer id="myfooter"></footer>
<script th:src="@{/js/index.js}" ></script>
</html>

