
<html lang="en">
<head >
  <div id="myHead"></div>
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
</head>
<header id="myHeader"></header>

<body>
<div class="container" style="height: calc(100% - 300px)">
  <div class="row">

    <div class="col-md-offset-3 col-md-6">
      <form class="form-horizontal" method="post" th:action="@{/authentication/registration}" th:object="${person}">
        <span class="heading">РЕГИСТРАЦИЯ</span>
        <div class="form-group">
          <input  class="form-control"  type="text" th:field="*{login}" placeholder="Введите ваш логин" name="username" id="username">
          <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
          <i class="fa fa-user"></i>
        </div>
        <div class="form-group help">
          <input  class="form-control"   type="password" th:field="*{password}" placeholder="Введите ваш пароль" name="password" id="password">
          <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
          <i class="fa fa-lock"></i>
          <a href="#" class="fa fa-question-circle"></a>
        </div>
        <div class="form-group">
          <a href="/authentication/login">Перейти к авторизации</a>
          <button type="submit"  value="Зарегистрироваться" class="btn btn-default">Зарегистрироваться</button>
          <div th:if="${param.error}" style="color: red">
            Неправильный логин или пароль
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
<!--///////////////////////////////////////////-->
<footer id="myfooter"></footer>
<script th:src="@{/js/index.js}" ></script>
</html>


